.cover-cartoon {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.app-nav > ul > li > a {
    font-weight: 200;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    nav {
      display: none;
    }
  }