.cover-cartoon {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.cover .cover-main>p>a {
  font-weight: 700;
}

.getting-started-highlight {
  font-size: 1.6em;
}

.vigo-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 220px 90px 0 0;
  border-color: #5FA202 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}

.cover-logo {
  top: 10px;
  left: 100px;
  position: absolute;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .cover-logo {
    width: 180px;
  }

  .cover .cover-main {
    margin-top: 150px;
  }

}