:root {
    --theme-color: #5FA202;

    --sidebar-toggle-offset-top: 0;

    --cover-background-color: #5FA202;
    --cover-background-image: none;
    --cover-heading-color: #ffffff;
    --cover-button-border-radius: 2rem;
    --cover-button-color: #1F4F59;
    --cover-button-primary-border: 2px solid #1F4F59;
    --cover-button-border: 2px solid #1F4F59;
    --cover-button-primary-background: #1F4F59;
    --cover-button-primary-color: #fff;
    --cover-max-width: 45em;
    --notice-important-before-background: #cf202e90;
    --notice-important-border-color: #cf202e90;
    --notice-important-before-color: #ffffffaa;
    --notice-important-before-content: '!';

    --notice-tip-before-background: #8cc64090;
    --notice-tip-border-color: #8cc64090;
    --notice-tip-before-color: #ffffffaa;
    --notice-tip-before-content: '!';

    --zoomimage-overlay-background: rgba(0, 0, 0, 0.0);

    --navbar-root-color--active: #fff;
    --navbar-root-color: #fff;

  }