:root {
    --theme-color: #8cc640ee;

    --sidebar-toggle-offset-top: 0;

    --cover-background-color: #cf202e;
    --cover-background-image: none;
    --cover-color: #ffffff;
    --cover-heading-color: #ffffff;
    --cover-button-border-radius: 2rem;
    --cover-button-primary-border: 1px solid #ffffff;
    --cover-button-primary-background: #ffffff;
    --cover-button-primary-color: #cf202e;
    --cover-button-border: 1px solid #ffffff;
    --cover-button-color: #ffffff;
    --cover-max-width: 45em;

    --notice-important-before-background: #cf202e90;
    --notice-important-border-color: #cf202e90;
    --notice-important-before-color: #ffffffaa;
    --notice-important-before-content: '!';

    --notice-tip-before-background: #8cc64090;
    --notice-tip-border-color: #8cc64090;
    --notice-tip-before-color: #ffffffaa;
    --notice-tip-before-content: '!';

    --zoomimage-overlay-background: rgba(0, 0, 0, 0.0);
  }