button.to-top-button {
  display: none;
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 99;

  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;

  align-items: center;
  justify-content: center;

  appearance: none;
  background: #5fa202;
  color: #fff;

  font-size: 20px;
  line-height: 1;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}

button.to-top-button:hover {
  background: #4d8500;
}